# Capstone Project two: Feature Engineering

In step 2 of this project , we visaulized the raw and cleaned data and also carried out PCA analysis to discover following.

* Outliers and errors were the reason behind poor correlation between some of the features.
* Removing those ouliers and errors showed very strong correlation among the features.
* Further, the PCA analysis showed the data is basically a one dimensional.

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import f_classif
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [31]:
RUL_cleaned = pd.read_csv("RUL_cleaned.csv").drop(["Cycle_Index"], axis=1)

In [33]:
RUL_cleaned.head()

,Discharge Time (s),Decrement 3.6-3.4V (s),Max. Voltage Dischar. (V),Min. Voltage Charg. (V),Time at 4.15V (s),Time constant current (s),Charging time (s),RUL
0,2595.30,1151.488500,3.670,3.211,5460.001000,6755.01,10777.82,1112
1,3301.18,1194.235077,3.674,3.504,5023.633636,5977.38,5977.38,1106
2,3228.58,1135.349333,3.689,3.485,5033.075692,5969.89,5969.89,1101
3,2261.34,883.200000,4.038,3.901,1949.664000,2922.69,6070.11,1096
4,2259.46,883.199000,4.042,3.373,5181.377000,6161.38,9310.98,1095

In [35]:
X = RUL_cleaned.drop(["RUL"], axis=1)
y = RUL_cleaned["RUL"]
# Assuming X is your feature set and y is your target variable
X_scaled = StandardScaler().fit_transform(X)  # Scaling the data
f_values, p_values = f_classif(X_scaled, y)

# Create a DataFrame to view F-values and p-values
f_test_results = pd.DataFrame({
    'Feature': X.columns,
    'F-Value': f_values,
    'P-Value': p_values
})

# Sort by F-value to determine the most important features
f_test_results.sort_values(by='F-Value', ascending=False)

                     Feature     F-Value  P-Value
4          Time at 4.15V (s)  518.810489      0.0
0         Discharge Time (s)  489.472946      0.0
5  Time constant current (s)  352.431359      0.0
1     Decrement 3.6-3.4V (s)  348.474740      0.0
2  Max. Voltage Dischar. (V)  130.598554      0.0
6          Charging time (s)   56.768993      0.0
3    Min. Voltage Charg. (V)   50.981193      0.0

In [38]:
from sklearn.feature_selection import f_regression
X_new = SelectKBest(f_regression, k='all').fit_transform(X, y)

NameError: name 'SelectKBest' is not defined

Removing `Time at 4.15V (s` as indicated by conclusion in previous step.

In [19]:
RUL_cleaned = RUL_cleaned.drop(["Time at 4.15V (s)"], axis=1)

In [21]:
RUL_cleaned.head()

,Discharge Time (s),Decrement 3.6-3.4V (s),Max. Voltage Dischar. (V),Min. Voltage Charg. (V),Time constant current (s),Charging time (s),RUL
0,2595.30,1151.488500,3.670,3.211,6755.01,10777.82,1112
1,3301.18,1194.235077,3.674,3.504,5977.38,5977.38,1106
2,3228.58,1135.349333,3.689,3.485,5969.89,5969.89,1101
3,2261.34,883.200000,4.038,3.901,2922.69,6070.11,1096
4,2259.46,883.199000,4.042,3.373,6161.38,9310.98,1095